<h1>Lighthouses</h1>
<div class="main">
  <div id="picture"></div>
  <div id="otherInfo"></div>
</div>  
<p id="title"></p></center>
<button id="previous">Previous</button>
<button id="next">Next</button>
